<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>CD Mania!</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>We Sell CD's!</h1>
        </div>
        <h2>Add a CD</h2>
        <form action="/update_collection" method="post">
            <div class="form-group">
                <label for="cd_artist">Artist</label>
                <input class="form-control" type="text" name="cd_artist" id="cd_artist" required>
            </div>
            <div class="form-group">
                <label for="cd_title">Title</label>
                <input class="form-control" type="text" name="cd_title" id="cd_title" required>
            </div>
            <div class="form-group">
                <label for="cd_year">Year</label>
                <input class="form-control" type="number" name="cd_year" id="cd_year" required>
            </div>
            <button class="btn btn-inverse">Update Collection</button>
            <a href="/" class="btn btn-danger">Cancel</a>
        </form>

    </div>
</body>
</html>
