<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>CD Mania!</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Remember CDs? We do!</h1>
        </div>
        <a href="/add_cd" class="btn btn-info">Add a new CD</a>
        <form action="/search" method="get">
            <input type="text" name="searchString" placeholder="Search Artist">
            <button class="btn">Search!</button>
        </form>
        <h2>Our Favorite Albums</h2>
        <ul class='list-group'>
            {% for cd in collection %}
                <li class='list-group-item'>{{ cd.getCDSummary }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
